npm config set init.author.name "Your Name"
npm config set init.author.email "name.lastname@example.com"
npm config set init.author.url "http://www.example.com"
npm config set init.license "MIT"
npm config set init.version "1.0.0" 